<!DOCTYPE HTML>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Главная</title>
</head>
<body>
<script>
    $('body').on('input', 'input[type="number"][minlength][maxlength]', function(){
        if (this.value.length > this.maxLength){
            this.value = this.value.slice(0, this.maxLength);
        }
    });
</script>
    <div>
        <form method="post" enctype='application/json'>
            <input type="text" name="name" placeholder="Введите контрагента">
            <input type="number" name="inn" minlength="10" maxlength="12" placeholder="Введите ИНН" width="500">
            <input type="number" name="kpp" minlength="9" maxlength="9"  placeholder="Введите КПП"  width="500">
            <input type="number" name="account_number" minlength="20" maxlength="20" placeholder="Введите номер счета" width="500">
            <input type="number" name="bank_bik" minlength="9" maxlength="9" placeholder="Введите БИК" width="500">
            <button type="submit">Добавить</button>
        </form>
    </div>
<div>Список контрагентов</div>
{{#all}}
    <div>
        <b>{{id}}</b>
        <span>{{name}}</span>
        <b>{{inn}}</b>
        <b>{{kpp}}</b>
        <span>{{account_number}}</span>
        <b>{{bank_bik}}</b>
    </div>
{{/all}}
</body>
