<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Главная</title>
</head>
<body>
<script type="application/javascript">
    $('body').on('input', 'input[type="number"][minlength][maxlength]', function(){
        if (this.value.length > this.maxLength){
            this.value = this.value.slice(0, this.maxLength);
        }
    });

    async function deleteEntity(id) {
        let url = '/delete/' + id;

        const response = await fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-type': 'application/json'
            }
        });
        alert(await response.text());
        location.reload();
    }

    function editEntity(id, name, inn, kpp, accountNumber, bankBik){
        document.getElementById('id').value = id;
        document.getElementById('name').value = name;
        document.getElementById('inn').value = inn;
        document.getElementById('kpp').value = kpp;
        document.getElementById('accountNumber').value = accountNumber;
        document.getElementById('bankBik').value = bankBik;
    }

    async function saveEntity(id) {
        const rawResponse = await fetch('/save', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(
                {
                    id: document.getElementById('id').value,
                    name: document.getElementById('name').value,
                    inn: document.getElementById('inn').value,
                    kpp: document.getElementById('kpp').value,
                    accountNumber: document.getElementById('accountNumber').value,
                    bankBik: document.getElementById('bankBik').value,
                })
        });
        const content = await rawResponse.json();
        if (content["status"] == 200){
            alert(content);
            location.reload();
        }
        else {
            let errorMessages = [];
            for (let e in content["errors"]){
                errorMessages.push(content["errors"][e]["defaultMessage"]);
            }

            document.getElementById("savingErrorMessage").innerHTML = errorMessages.join(", ");
        }
    }

    async function cancel(){
        document.getElementById("id").value = "";
        document.getElementById("name").value = "";
        document.getElementById("inn").value = "";
        document.getElementById("kpp").value = "";
        document.getElementById("accountNumber").value = "";
        document.getElementById("bankBik").value = "";
    }
</script>
    <div>
        <input hidden="hidden" id="id" value="0">
        <input type="text" id="name" placeholder="Введите контрагента"/>
        <input type="number" id="inn" minlength="10" maxlength="12" placeholder="Введите ИНН" width="500"/>
        <input type="number" id="kpp" minlength="9" maxlength="9"  placeholder="Введите КПП"  width="500"/>
        <input type="number" id="accountNumber" minlength="20" maxlength="20" placeholder="Введите номер счета" width="500"/>
        <input type="number" id="bankBik" minlength="9" maxlength="9" placeholder="Введите БИК" width="500"/>
        <br/>
        <button onclick="saveEntity(0)">Сохранить</button>
        <button onclick="cancel()">Отмена</button>
        <label id="savingErrorMessage"/>
    </div>
<br/>

<div>
    Фильтрация
</div>

<div>
    <form method="get" action="/">
        <input type="text" name="name_filter" th:value="${name_filter}" placeholder="Введите наименование"/>
        <input type="text" name="bankBik_filter" th:value="${bankBik_filter}" placeholder="Введите БИК"/>
        <input type="text" name="accountNumber_filter" th:value="${accountNumber_filter}" placeholder="Введите номер счета"/>

        <button type="submit">Отфильтровать</button>
        <div th:text="${errorMessage}"/>
    </form>
</div>
<div>Список контрагентов</div>

<table border="1">
    <thead>
        <tr>
            <th>name</th>
            <th>inn</th>
            <th>kpp</th>
            <th>accountNumber</th>
            <th>bankBik</th>
        </tr>
    </thead>

    <tr th:each="entity : ${entities}">
        <td th:text="${entity.name}"/>
        <td th:text="${entity.inn}"/>
        <td th:text="${entity.kpp}"/>
        <td th:text="${entity.accountNumber}"/>
        <td th:text="${entity.bankBik}"/>

        <td>
            <input type="button" value="Delete" th:onclick="'javascript:deleteEntity(' + ${entity.getId()} + ');'" style="padding: 3px">
        </td>

        <td>
            <input type="button" value="Edit" style="padding: 3px"
                   th:id="${entity.getId()}"
                   th:name="${entity.getName()}"
                   th:inn="${entity.getInn()}"
                   th:kpp="${entity.getKpp()}"
                   th:accountNumber="${entity.getAccountNumber()}"
                   th:bankBik="${entity.getBankBik()}"
                   th:onclick="editEntity(this.getAttribute('id'), this.getAttribute('name'), this.getAttribute('inn'), this.getAttribute('kpp'), this.getAttribute('accountNumber'), this.getAttribute('bankBik'));"/>
        </td>
    </tr>
</table>

</body>
</html>